account_1:
  exchange_name: exchange
  api_key: api_key
  default_type: default_type
  secret: secret
account_2:
  exchange_name: exchange
  api_key: api_key
  default_type: default_type
  secret: secret